@import url("colors.css");
@import url("navbar.css");

body {
    margin: 0px;
}

img {
    max-width: 100%;
    padding: 2px;
}

ul {
    list-style: none;
    padding-left: 0;
}

@media (min-width: 768px) {
    .w-33 {
        max-width: 33%;
        float: left;
        padding: 2px;
    }

    .w-70 {
        max-width: 66%;
        float: left;
        padding: 2px;
    }

    .w-30 {
        max-width: 32%;
        float: left;
        padding: 2px;
    }
}