@import url("colors.css");
@import url("navbar.css");

body {
    margin: 0px;
}

img {
    max-width: 100%;
    padding: 2px;
}

ul {
    list-style: none;
    padding-left: 0;
}

@media (min-width: 768px) {
    .flex {
        padding-bottom: 30px;
    }

    .w-33 {
        max-width: 33%;
        float: left;
        padding: 2px;
    }

    .w-70 {
        max-width: 66%;
        float: left;
        padding: 2px;
    }

    .w-30 {
        max-width: 32%;
        float: left;
        padding: 2px;
    }

    .l1 {
        left: 15%;
        transform: translateX(-15%);
        position: absolute;
    }

    .l2 {
        left: 30%;
        transform: translateX(-30%);
        position: absolute;
    }

    .r1 {
        right: 30%;
        transform: translateX(-30%);
        position: absolute;
    }

    .r2 {
        right: 15%;
        transform: translateX(-15%);
        position: absolute;
    }

    .logo {
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
        max-width: 80px;
    }

}