.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat( 1, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin: auto;
    max-width: 750px;
}

.grid-item-1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 4;
}

.grid-item-2 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 4;
}

.grid-item-3 {
    grid-row: 3 / span 1;
    grid-column: 1 / span 4;
}

.grid-item-4 {
    grid-row: 4 / span 1;
    grid-column: 1 / span 4;
}