/* Grid for Content above Pictures */
.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat( 1, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin: auto;
    max-width: 750px;
}

.grid-item1 {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
}

/* Grid for Content below Pictures */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat( 4, 1fr);
    row-gap: 0px;
    column-gap: 10px;
    margin: auto;
    max-width: 750px;
}

.grid-item-1 {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
}

.grid-item-2 {
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
}
