@media screen and (max-width: 480px) {
    body {
        background-color: rgb(80, 80, 80);
        color: white;
    }
}

@media screen and (min-width: 480px) {
    body {
        background-color: white;
    }
}