@import url(navbar.css);
@import url(colors.css);
@import url(contactpage.css);

/* Tablet Design */
#Placeholder {
    max-width: 100%;
    float: left;
    padding: 0px;
}

p {
    padding-left: 0px;
}

.Image {
    max-width: 30%;
    padding: 10px;
}

.Product-Item {
    padding: 0px;
}

.Description {
    padding-left: 0px;
}

.TitleAbout {
    padding-left: 10px;
}

.Products-Title {
    padding-left: 10px;
}

.HomePage {
    padding-left: 10px;
}

/* Mobile Design */
@media(max-width: 480px) {
    #Placeholder {
        max-width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 10px;
    }
    
    .Image {
        max-width: 30%;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    p {
        padding-left: 0px;
    }

    .Product-Item {
        padding: 0px;
    }

    .Description {
        padding-left: 0px;
    }
    
    .TitleAbout {
        padding-left: 10px;
    }

    .Products-Title {
        padding-left: 10px;
    }

    .HomePage {
        padding-left: 10px;
    }
}

/* Desktop Design */
@media(min-width: 768px) {
    #Placeholder {
        max-width: 100%;
        float: left;
        padding: 10px;
    }

    .Image {
        max-width: 30%;
        padding: 0px;
    }

    .Products-Title {
        padding-left: 10px;
    }

    p {
        padding-left: 0px;
    }

    .Product-Item {
        padding: 0px;
    }

    .Description {
        padding-left: 0px;
    }

    .TitleAbout {
        padding-left: 10px;
    }

    .HomePage {
        padding-left: 10px;
    }

}